/* Reglas
selectores
declaraciones
propiedades
valores*/

/* selector de etiqueta header - seccion - articule - nav */
/* header{
    background:pink ;
} */

/* selector descendente */
/* body header div nav ol li a */

/* selector de clase . */
/* .link */

/* selector de id */
/* #portafolio */

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fjalla One", sans-serif;
    font-weight: normal;
    /* font-style: oblique; */
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    /* text-transform: capitalize;
    text-decoration: dashed; */
}
.hero{
    height: 300px;
}

.proyect-details{
    width: 500px;
}

.proyect-imageContainer{
    width: 500px;
}